
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Greetings WebApp</h1>
    <form class="" action="/" method="post">
      <label for="textbox">Name: </label>
      <input type="text" name="name" id="textbox" value="" placeholder="enter name to greet">
  <br><br>

  <input type="radio" name="language" id="languages" value="isiXhosa">
  <label for="isiXhosa">isiXhosa</label>

  <input type="radio" name="language" id="languages" value="English">
  <label for="English">English</label>

  <input type="radio" name="language" id="languages" value="Sesotho">
  <label for="Sesotho">Sesotho</label>

  <br><br>
  <button type="submit" id="submitBtn" name="button">Greet</button>
  <p> {{greetingMsg}}</p>
    </form>
    <div class="greetedpeople">
      <a href="/greeted">Greeted people</a>
    </div>
    <div class="">

    </div>
    <button type="submit" id="resetBtn" name="button">Reset</button>
  </body>
